<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keicei.agent.persistence.mapper.AcctTransLogMapper">

	<resultMap type="AcctTransLog" id="acctTransLogMap">
		<result property="acctId" column="acct_id" />
		<result property="payAmount" column="pay_amount" />
		<result property="incomeAmount" column="income_amount" />
		<result property="transType" column="trans_type" />
		<result property="transSn" column="trans_sn" />
		<result property="transTime" column="trans_time" />
		<result property="brandid" column="brand_id" />
	</resultMap>

	<insert id="insert" parameterType="AcctTransLog"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_agent_acct_trans_log
		(acct_id,brand_id,pay_amount,income_amount,balance,trans_type,trans_sn,trans_time,rmk)
		values
		(#{acctId},#{brandid},#{payAmount},#{incomeAmount},#{balance},#{transType},#{transSn},now(),#{rmk})
	</insert>
	<!-- 流水list -->
	<select id="list" parameterType="Map" resultMap="acctTransLogMap">
		select
		id,brand_id,acct_id,pay_amount,income_amount,trans_type,trans_sn,trans_time
		,balance,rmk
		from t_agent_acct_trans_log where acct_id in
		<foreach item="agentid" collection="agent_id" open="("
			separator="," close=")">
			#{agentid}
		</foreach>
		<if test="transSn"><!-- 流水号 -->
			and trans_sn = #{transSn}
		</if>
		<if test="transType!=null"><!-- 交易类型 -->
			and trans_type = #{transType}
		</if>
		<if test="agents!=null"><!--下级 -->
			and acct_id = #{agents}
		</if>
		<if test="dateStart!=null and dateEnd!=null"><!--订单时间 -->
			and trans_time BETWEEN #{dateStart} and #{dateEnd}
		</if>
		order by id desc
		<if test="offset!=null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<!-- 流水count -->
	<select id="count" parameterType="Map" resultType="int">
		select count(*) as count
		from t_agent_acct_trans_log where acct_id in
		<foreach item="agentid" collection="agent_id" open="("
			separator="," close=")">
			#{agentid}
		</foreach>
		<if test="transSn"><!-- 流水号 -->
			and trans_sn = #{transSn}
		</if>
		<if test="transType!=null"><!-- 交易类型 -->
			and trans_type = #{transType}
		</if>
		<if test="agents!=null"><!--下级 -->
			and acct_id = #{agents}
		</if>
		<if test="dateStart!=null and dateEnd!=null"><!--订单时间 -->
			and trans_time BETWEEN #{dateStart} and #{dateEnd}
		</if>
	</select>
	<!-- 流水统计 -->
	<select id="listaccTransLog" parameterType="Map" resultMap="acctTransLogMap">
		SELECT id
		,acct_id
		,sum(pay_amount) as sumPayCount
		,sum(income_amount) as
		sumIncomeCount
		,trans_type
		,trans_time
		FROM t_agent_acct_trans_log
		WHERE 1 = 1
		<if test="brandid!=null">and brand_id=#{brandid}</if>
		<if test="acctId!=null">
			AND acct_id like "%"#{acctId}"%"
		</if>
		<if test="transType!=null"><!-- 交易类型 -->
			AND trans_type = #{transType}
		</if>
		<if test="dateStart!=null and dateEnd!=null"><!--订单时间 -->
			AND trans_time BETWEEN #{dateStart} AND #{dateEnd}
		</if>
		GROUP BY acct_id,trans_type,Date(trans_time)
		ORDER BY Date(trans_time)
		DESC
		<if test="offset!=null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<!-- 流水统计count -->
	<select id="counts" parameterType="Map" resultType="int">
		SELECT count(*)
		FROM (
		SELECT count(*)
		FROM t_agent_acct_trans_log
		WHERE 1 = 1
		<if test="brandid!=null">and brand_id=#{brandid}</if>
		<if test="transType!=null"><!-- 交易类型 -->
			AND trans_type = #{transType}
		</if>
		<if test="acctId!=null">
			AND acct_id like "%"#{acctId}"%"
		</if>
		<if test="dateStart!=null and dateEnd!=null"><!--订单时间 -->
			AND trans_time BETWEEN #{dateStart} AND #{dateEnd}
		</if>
		GROUP BY acct_id,trans_type,Date(trans_time))tab
	</select>


	<!-- 后台查询账户流水 -->
	<sql id="where">
		<where>
			<if test="acctId!=null">acct_id=#{acctId}</if>
			<if test="brandid!=null">and brand_id=#{brandid}</if>
			<if test="transType!=null">and trans_type = #{transType}</if>
			<if test="dateStart!=null">
				<![CDATA[and trans_time >= #{dateStart}]]>
			</if>
			<if test="dateEnd!=null">
				<![CDATA[and trans_time <= #{dateEnd}]]>
			</if>
		</where>
	</sql>
	<select id="list1" parameterType="Map" resultMap="acctTransLogMap">
		select
		acct_id,brand_id,pay_amount,income_amount,trans_type,trans_time
		,balance,rmk
		from t_agent_acct_trans_log
		<include refid="where" />
		order by id desc
		<if test="offset!=null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="count1" parameterType="Map" resultType="int">
		select count(1) as count
		from t_agent_acct_trans_log
		<include refid="where" />
	</select>

	<insert id="dayreport" parameterType="java.sql.Date">
		INSERT INTO t_agent_acct_day_report
		(brand_id,acct_id,trans_type,pay_amount,income_amount,trans_count,trans_date)
		SELECT 
		brand_id,acct_id,trans_type,SUM(pay_amount),SUM(income_amount),COUNT(1),DATE(trans_time)
		FROM t_agent_acct_trans_log
		WHERE DATE(trans_time)=#{0}
		GROUP BY DATE(trans_time),trans_type,brand_id,acct_id	
	</insert>
	
	<delete id="clearDayreport" parameterType="java.sql.Date">
		delete from t_agent_acct_day_report where trans_date=#{0}
	</delete>

</mapper> 