<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keicei.agent.persistence.mapper.UserRechargeLogMapper">


	<resultMap type="UserRechargeLog" id="userrechargelogmap">
		<result property="orderSn" column="order_sn" />
		<result property="brandId" column="brand_id" />
		<result property="agentId" column="agent_id" />
		<result property="account" column="account" />
		<result property="accountType" column="account_type" />
		<result property="status" column="status" />
		<result property="firstUse" column="first_use" />
		<result property="rmk" column="rmk" />
		<result property="rechargeAmount" column="recharge_amount" />
		<result property="rechargeTime" column="recharge_time" />
	</resultMap>

	<select id="list" parameterType="Map" resultMap="userrechargelogmap">
		select
			id,order_sn,brand_id,agent_id,account,account_type,status,first_use,rmk,
			recharge_amount,recharge_time
		from t_agent_user_recharge_log 
		where 1=1
		<if test="agent_id"><!-- 代理商 -->
			and agent_id = #{agent_id}
		</if>
		<if test="orderSn"><!-- 订单号 -->
			and order_sn like #{orderSn}
		</if>
		<if test="status!=null"><!-- 状态 --> <!-- 初始化 处理中 都显示为 处理中 -->
				<if test="status==1">
						and status in('0','1')
				</if>
				<if test="status!=1">
						and status = #{status}
				</if>
		</if>
		<if test="rechargeAmount!=null">
			and recharge_amount = #{rechargeAmount}
		</if>
		<if test="accountType!=null"><!-- 状态 -->
			and account_type = #{accountType}
		</if>
		<if test="accountType!=null"><!-- 状态 -->
			and account_type = #{accountType}
		</if>
		
		
		<if test="dateStart!=null and dateEnd!=null"><!--充值时间 -->
			and recharge_time BETWEEN #{dateStart} and #{dateEnd}
		</if>
		<if test="account!=null">
			and account like #{account}
		</if>
		<if test="brandId!=null">
			and brand_id = #{brandId}
		</if>
		
		order by id desc
		<if test="offset!=null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="rechargecount" parameterType="Map" resultType="Map">
		select
			count(1) as rechargeCount,sum(recharge_amount) as rechargeSum
		from t_agent_user_recharge_log 
		where 1=1
		<if test="agent_id"><!-- 代理商 -->
			and agent_id = #{agent_id}
		</if>
		<if test="orderSn"><!-- 订单号 -->
			and order_sn like #{orderSn}
		</if>
		<if test="status!=null"><!-- 状态 --> <!-- 初始化 处理中 都显示为 处理中 -->
				<if test="status==1">
						and status in('0','1')
				</if>
				<if test="status!=1">
						and status = #{status}
				</if>
		</if>
		<if test="rechargeAmount!=null">
			and recharge_amount = #{rechargeAmount}
		</if>
		<if test="accountType!=null"><!-- 状态 -->
			and account_type = #{accountType}
		</if>
		<if test="accountType!=null"><!-- 状态 -->
			and account_type = #{accountType}
		</if>
		
		
		<if test="dateStart!=null and dateEnd!=null"><!--充值时间 -->
			and recharge_time BETWEEN #{dateStart} and #{dateEnd}
		</if>
		<if test="account!=null">
			and account like #{account}
		</if>
		<if test="brandId!=null">
			and brand_id = #{brandId}
		</if>
	</select>
	
	<insert id="insert" parameterType="UserRechargeLog"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_agent_user_recharge_log
		(order_sn,brand_id,agent_id,account,account_type,status,first_use,rmk,recharge_amount,recharge_time)
		values
		(#{orderSn},#{brandId},#{agentId},#{account},#{accountType},#{status},#{firstUse},#{rmk},#{rechargeAmount},now())
	</insert>

	<update id="updateStatus" parameterType="UserRechargeLog">
		update t_agent_user_recharge_log set
		status=#{status} where id=#{id}
	</update>
</mapper> 