<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>agent</display-name>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>agent.root</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-*.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.keicei.common.WebListener</listener-class>
  </listener>
  <filter>
    <filter-name>AgentAuthenticatFilter</filter-name>
    <filter-class>com.keicei.agent.common.AgentAuthenticatFilter</filter-class>
  </filter>
  <filter>
    <filter-name>UserAuthenticatFilter</filter-name>
    <filter-class>com.keicei.agent.common.UserAuthenticatFilter</filter-class>
  </filter>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AgentAuthenticatFilter</filter-name>
    <url-pattern>/amp/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthenticatFilter</filter-name>
    <url-pattern>/aop/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>securityCode</servlet-name>
    <servlet-class>com.keicei.common.SecurityCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>securityCode</servlet-name>
    <url-pattern>/sc.cgi</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
</web-app>